<footer id="footer">
    <div id="footer-wrap">
        <div>
            &copy; <%= date(Date.now(), "YYYY") %> Made by
            <a href="https://github.com/dinhkarate">dinhkarate</a>
            from <a href="https://thatnghiep.dev">thatnghiep.dev</a>
        </div>
        <div>
            Based on the <a href="https://hexo.io">Hexo</a> |
            <a href="https://github.com/thatnghiep-dev/hexo-theme-loststar">LostStar Theme</a>
        </div>
        <% if (theme.footer.ICP.enable) { %>
        <div>
            <% if (theme.footer.ICP.link) { %>
            <a href="<%- url_for(theme.footer.ICP.link) %>"><%= theme.footer.ICP.code %></a>
            <% } else { %>
            <%= theme.footer.ICP.code %>
            <% } %>
        </div>
        <% } %>
    </div>
</footer>
